* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(236, 234, 234);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 80px 0;
}
.text-field h1 {
	color: #4d66f1;
	margin-bottom: 5px;
	font-size: 55px;
}
.text-field p {
	width: 80%;
}
.login {
	width: 300px;
	margin: 60px 0;
}
.login form {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15px;
	background-color: white;
	box-shadow: 0 0 20px #a5a5a5;
	border-radius: 5px;
}

#text,
#pass {
	margin: 5px 0;
	width: 250px;
	border-radius: 5px;
	border: 1px solid rgb(211, 211, 211);
	outline: 0;
	padding: 7px 10px;
}

#login {
	padding: 5px;
	width: 270px;
	height: 35px;
	background-color: #4d66f1;
	color: white;
	cursor: pointer;
	border: none;
	outline: 0;
	border-radius: 5px;
	margin-top: 5px;
	font-weight: 700;
}
.login a {
	color: blue;
	text-decoration: none;
	margin-top: 10px;
	font-size: 15px;
}
.login p {
	margin-top: 30px;
	font-size: 14px;
	text-align: center;
	margin: 20px 10px;
}
#btn {
	padding: 8px;
	width: 150px;
	background-color: rgb(14, 192, 14);
	color: white;
	border: none;
	border-radius: 5px;
	outline: 0;
	font-weight: 700;
}

hr {
	width: 100%;
	margin-bottom: 15px;
}
